@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

:root {
  --primary: #171717; /* Light mode blue */
  --background: #ffffff; /* Light mode slate */
  --foreground: #0a0a0a;
  --muted-foreground: #737373;
}

.dark {
  --primary: #e5e5e5; /* Dark mode lighter blue */
  --background: #0a0a0a; /* Dark mode lighter slate */
  --foreground: #fafafa;
  --muted-foreground: #a1a1a1;
}
