@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&family=Inter:wght@400;500;600&display=swap");

@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

:root {
  --primary: #171717;
  --background: #ffffff;
  --foreground: #0a0a0a;
  --muted-foreground: #737373;
  --box-background: #f5f7f8;
  --content-border: #e2e8f0;
  --dotted-bg: #c8c8c8;
  --spacing: 0.25rem;
  --button: #3c83f6;
  --button-hover: #005cf1;
  --font-display: "Space Grotesk", sans-serif;
  --font-body: "Inter", sans-serif;
}

.dark {
  --primary: #e5e5e5;
  --background: #0a0a0a;
  --dotted-bg: #2c2c2c;
  --content-border: #1e293b;
  --box-background: #141a23;
  --foreground: #fafafa;
  --muted-foreground: #a1a1a1;
}
@layer base {
  body {
    font-family: var(--font-body);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-display);
  }
}
